.promo {
    min-height: 100vh;
    position: relative;
    background: url("../img/main_bg.jpg") no-repeat 50% / cover;
    object-fit: cover;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        padding-left: 10px;
        position: relative;
        @include before_circle;
        z-index: 2;
    }
    &_btns {
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
        display: flex;
        width: 250px;
    }
    &__link {
        color: #000000;
        font-weight: bold;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
    .btn {
        padding: 8px;
    }
}
